version: "3.9"
services:
  PROJECT_NAME:
    build:
      context: ./docker/main/
      args:
        - USERNAME
    volumes:
      - .:/app
      - ./vim:/root/.vim
      - ./vimrc:/root/.vimrc
      - /tmp/.X11-unix:/tmp/.X11-unix
    environment:
      - WAYLAND_DISPLAY=$WAYLAND_DISPLAY
      - XDG_RUNTIME_DIR=$XDG_RUNTIME_DIR
      - PULSE_SERVER=$PULSE_SERVER
      - QT_X11_NO_MITSHM 1
      - NO_AT_BRIDGE 1
      - DISPLAY=:1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    tty: true
    stdin_open: true
    image: PROJECT_NAME:latest
    command: bash -c '/etc/init.d/dbus start && tail -F /dev/null'
